@charset "utf-8";
/* CSS Document */

/*---基本樣式 start---*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote {margin:0;padding:0;}
li {
	list-style-type: none;
}

html>body, html>body .index{height: auto;} 
body {
	margin: 0px;
	text-decoration: none;
}

img{border-style: none;}
body,td,th,select,input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
}

area{ outline:none;}

#TOP_HEADER{
	font-size: 12px;
	line-height: 15px;
	position:relative;}

a:link {text-decoration: underline; color: #333333; blr:expression(this.onFocus=this.blur());}
a:visited {text-decoration: underline; color: #333333; blr:expression(this.onFocus=this.blur());}
a:hover {text-decoration: none; color: #333333; blr:expression(this.onFocus=this.blur());}
a:active {text-decoration: none; color: #333333; blr:expression(this.onFocus=this.blur());}
a:focus {-moz-outline-style:none;}
.clear{clear:both;}
.orange{color:#f68319;}

#TOP_HEADER_wrapper{
	width: 100%;
	background-color: #fff;



}
/*---基本樣式 end---*/
#TOP_HEADER_bg{
	width: 1200px;
	margin: 0 auto;
	text-align:center;
	background-color:#FFF;
}

#TOP_HEADER {
	width:auto;
	height:45px;
	margin: 0 auto;
	text-align:center;

	position:relative;
}


#apDiv2MP {
	position:absolute;
	width:1px;
	height:1px;
	top:51px;
	right:120px;
	visibility: inherit;
}


#link_info {
    text-align:right;
	float:right;
	margin:20px 25px 0 0;
	color:#333333;
}

#link_info a {color:#333333; text-decoration:underline;}
#link_info a:hover {color:#f68319; text-decoration:underline;}

#logo {
    float:left;
	padding:0;
	margin:6px 0 0px 15px;
}

/*new*/
#Facebook{
	width:100px;
	height: 25px;
	text-align:right;
	float:right;
	margin:15px 25px 0 0;
	color:#4267b2;

}
/*#banner {
	margin: 0 auto;
}
*/
#BODY_bg {
	width: auto;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}


#BODY {
	/*width:1100px;*/
	width: 960px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	padding:0;

}

#FOOTER_wrapper{
	width:auto;
	margin:0 auto;
	text-align:center;
	background-color:#FFF;
	background-position:bottom;
	background-image: url(http://www.iread.com.tw/marketing_page/ireadHeader/footer_bg.jpg);

}

#FOOTER1 {
	width: 960px;
	margin:0 auto;
	/*width:auto;
	margin:0 auto;
	text-align:center;
	background-color:#FFF;
	background-position:bottom;*/
}


.info1{
    width:auto;
	height:20px;
	padding:6px 0 0 0;
	color: #333333;	
	font-size: 13.5px;
	text-align: center;
	line-height: 18px;
	clear:both;
	background-repeat:repeat-x;
	margin:0 auto;
	background-image: url(http://www.iread.com.tw/marketing_page/ireadHeader/footer_bg.jpg);
}

.info2{
    width:auto;
	height:20px;
	padding:6px 0 0 0;
	color: #333333;	
	font-size: 12px;
	text-align: center;
	line-height: 18px;
	clear:both;
	background-repeat:repeat-x;
	margin:0 auto;
	background-image: url(http://www.iread.com.tw/marketing_page/ireadHeader/footer_bg.jpg);
}
/*.info_link{
	color: #346b91;	
	font-size: 12px;
	text-align: center;
	line-height: 18px;
	padding-top:4px;
}

.info_link a,
.info_link a:link,
.info_link a:visited{color: #346b91; text-decoration:none;}
.info_link a:hover{color: #346b91; text-decoration:underline;}*/

.FOOTER2{
	width:100%;
	height:24px;
	background-color:#f68319;
	border-top:#666666 1px solid;
	color: #ffffff;	
	text-align: center;
	line-height: 18px;
	padding-top:6px;
	margin:0 auto;
}

.Cor_Rights {
	width:auto;
	height:24px;
	background-color:#f68319;
	border-top:#666666 1px solid;
	color: #ffffff;	
	font-size: 12px;
	text-align: center;
	line-height: 18px;
	padding-top:6px;
	margin:0 auto;
}


/*--FP_btn--*/
.FP_btn{
	float:right;
	margin:14px 20px 0 0;
	z-index:100;
	height:31px;
}

.FP_btn img{
	margin:0 0 0 11px;
}



#apDiv1MP {
	width:200px;
	position:absolute;
	z-index:100;
	top:52px;
	right:20px;
}

#apDiv1MP iframe {
	right:0px;
}


	
