body{
    background-color: rgb(235, 235, 235);
}
#TOP_HEADER_wrapper{
    position: relative;
    z-index: 9999;
}
.wrapper{}
.top-menu{
    position: fixed;
    top:-166px;
    opacity: 0;
    transition: 0.75s linear;
    z-index: 999;
}
.new-year{
    position: absolute;
    top: -45px;
    opacity: 0;
    animation: new-year-effect 0.5s linear forwards;
}
.new-year-icon{
    position: fixed;
    top:-250px;
    transition: 0.85s linear;
    transform: translateX(50px);
}
@keyframes new-year-effect{
    0%{top: -45px; opacity: 0;}
    100%{top: 45px; opacity: 1;}
}