@import 'reset';
@import 'owl-carousel';
@import 'layout';
@import 'color';
@import 'fonts';
@import 'screen';
@import 'animation-plugin';
@import 'owl-custom';

*{
    color:$black
}

div{
    @include absolute(0, 0, 0, 0, auto);
    height: 36px;
    width: 280px;
    text-align: center;
}

.download{
    @include m-y(12.5px, 12.5px);
    background-color: $blue;
    padding:10px 15px;
    display: block;
    color: $white;
}

.open{
    @include m-y(12.5px, 12.5px);
    background-color: $red;
    padding:10px 15px;
    display: block;
    color: $white;
}